
.faq__head{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.faq__container{
    padding-bottom: 100px;
}

.faq__head_h3{
    font-weight: 500;
    font-size: 24px;
    color: #2C2C2C;
}

.faq__head_plus{
    padding: 7px;
    display: inline-flex;
}

.faq__bottom__container{
    overflow: hidden;
    max-height: 0px;
    transition: 0.3s linear;
}

.faq__bottom__container.active{
    max-height: 200px;
}


.faq__bottom__container p{
    padding-bottom: 24px;
}

.faq__row{
    border-bottom: 1px solid #2C2C2C;
}

.js-btn{
    cursor: pointer;
}

.faq_page__container{
    display: grid;
    grid-template-columns: 0.23fr 0.77fr;
    gap: 104px;
}

.faq_page__inner_section{
    padding-top: 100px;
    margin-top: -100px;
}

.faq_page__inner_title{
    font-size: 44px;
    font-weight: 600;
    line-height: 1.3;
    color: #2C2C2C;
    margin-bottom: 8px;
}

.faq_page__aside_list_item{
    list-style: none;
}

.faq_page__aside_list_link{
    display: block;
    color: #2C2C2C;
    line-height: 3;
    font-size: 20px;
    text-decoration: none;
}

.faq_page__aside_list_item.active .faq_page__aside_list_link{
    font-weight:700;
}

.faq_page__aside_inner{
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height) - 20px);
    overflow-y: auto;
    padding-right: 20px;
}

.faq_page__aside{
    padding-bottom: 110px;
}