
.header{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    transform:translateY(0px);
    transition: all 0.2s ease-out;
    background-color: #FFF;
    z-index: 100;
}

.header-scrolled{
    /* margin-top: calc(0px - var(--header-height)); */
    transform: translateY(calc(0px - var(--header-height) - 2px));
}

.header__burger{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    margin-right: 4px;
    cursor: pointer;
}

.header__burger_line{
    display: inline-flex;
    width: 18px;
    height: 2px;
    background-color: black;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
    
}

.header__outer{
    position: relative;
    z-index: 2;
}

.header__col{
    display: flex;
    align-items: center;
}

.header__nav_list{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 13px;
}

.header_logo{
    padding: 5px;
    display: inline-flex;
}

.header__nav_list li{
    list-style: none;
}

.header__nav_item a{
    text-decoration: none;
    padding: 20px 0px;
    display: flex;
    color: #2C2C2C;
}


.header__nav_item{
    list-style: none;
}

.header__col_right{
    justify-content: flex-end;
}

.search-input::before{
    content: "";
    display: inline-flex;
    width: 12px;
    height: 12px;
    background: url('../img/search.svg') no-repeat center center contain;
}

.header__nav_item__search{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid #707070;
    border-radius: 100px;
    width: 160px;
}

.header__nav_item__search_span{
    display: inline-flex;
    width: 12px;
    height: 12px;
}

.header__nav_item__search_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.header__nav_item__search{

}

.header__nav_item__search_input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border:none;
    outline: none;
    padding: 9px 0;
    width: 100%;
}

.header__nav_item .list_outer{
    position: absolute;
    width: 100%;
    background-color: #FFF;
    /* background-color: red; */
    left: 0;
    top: calc(100% - 2px);
    border-bottom: 1px solid #2C2C2C;
    border-top: 1px solid #2C2C2C;
}

.list_outer{
    display: none;
    /* display: block; */
}

.header__nav_item:hover > .list_outer{
    display: block;
}


.list_outer a{
    display: inline-flex;
    padding: 25px 12px;
}

.list_outer ul li{
    padding: 25px 12px;
    display: flex;
    flex-direction: column;
}

.list_outer ul li{
    display: flex;
    flex-direction: column;
}

.list_outer ul li a{
    padding: 0;
}

/* .list_outer ul li:hover::after{
    content: "";
    display: inline-flex;
    border-bottom: 3px solid #2C2C2C;
    margin-right: 12px;
    margin: 0 12px;
    margin-top: -3px;
} */

.has_icon{
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}
/* 
.list_outer ul li:first-child:after{
    margin-left: 0px;
} */

.list_outer>ul>li:first-child{
    padding-left: 0px;
}

.nav_list{
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu{
    display: none;
}

.menu.active{
    position: absolute;
    left: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: 100%;
    background-color: rgba(0, 0, 0,.7);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.menu_col{
    padding: 40px 72px;
    overflow: hidden;
    background-color: #9AD1BA;
}

.menu_col_inner__nav{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu_col_inner__nav a{
    color: #2C2C2C;
    text-decoration: none;
    padding: 5px;
    padding-left: 0;
}

.huge_menu{
    border-top: 1px solid #2C2C2C;
    position: absolute;
    backdrop-filter: blur(12px);
    background-color: rgba(0,0,0.0.7);
    /* background-color: red; */
    top: calc(100%);
    /* max-width: 1340px; */
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 130px);
    left: 0;
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(3,1fr);
}


.nav_list li:hover .huge_menu{
    display: grid;
}

.huge_menu_col{
    background-color: #F4F4F4;
    padding: 24px 40px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.huge_menu_list{
    max-height: 100%;
    overflow-y:scroll;
}

.huge_menu_list li{
    display: flex;
    align-items: center;
    flex-direction: row!important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    gap: 16px;
}

.huge_menu_col:first-child .huge_menu_list li:after{
    content: "";
    margin-left: auto;
    padding: 5px;
    width: 10px;
    height: 16px;
    padding-right: 48px;
    display: inline-block;
    background: url('../img/chevron_right.svg') no-repeat center center;
    background-size: auto;
}

.huge_menu_col:nth-child(3) img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    object-position: center;
}

.menu-tumbler-btn{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    padding: 16px 32px;
    font-weight: 600;
    text-transform: uppercase;
    background: #FFF;
    color: #2C2C2C;
    border-radius: 4px;
    border: none;
}